<!DOCTYPE html>
<html>
<head>
	<title>Deep Eye</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
	<header id="mainheader">
		<div class="container"><h1>DEEP EYE: A WEB APP TO DETECT GLAUCOMA</h1></div>		
	</header>
	<nav id="navbar">
		<div class="container">
			<ul>
				<li><a href="{{url_for('home')}}">Home</a></li>
				<li><a href="{{url_for('instruction')}}">Instructions</a></li>
				<li><a href="{{url_for('tool')}}">Tool</a></li>
				<li><a href="{{url_for('pro_dis')}}">Project Description</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		 <form action = "{{url_for('upload')}}" method = "POST" enctype = "multipart/form-data">
	         <input class="button" type = "file" name = "file" accept="image/*" />
	         <input class="button" type = "submit" value="Upload"/>
	     </form>
	    <p></p>
		<p>Click on Predict button to get the final results</p>
		<!--<a class="button" href="#">Browse</a>-->
		<a class="button" href="#">Predict</a>
	</div>
	<br>
	<div class="clr"></div>
	<div class="block container">
		<h4>Input Image</h4>
		<a href="{{url_for('static', filename='Images/input.jpg')}}">
			<img src="{{url_for('static', filename='Images/input.jpg')}}" alt="Input Image" >
		</a>
	</div>
	<div class="block container">
		<h4>Segmented OD</h4>
		<a href="{{url_for('static', filename='Images/od.jpg')}}">
			<img src="{{url_for('static', filename='Images/od.jpg')}}" alt="Optic Disc" >
		</a>
	</div>
	<div class="block  container">
		<h4>Segmented OC</h4>
		<a href="{{url_for('static', filename='Images/oc.jpg')}}">
			<img src="{{url_for('static', filename='Images/oc.jpg')}}" alt="Optic Cup" >
		</a>
	</div>	
	<br>
	<h4>The probabilities for the given image are: </h4>
	<h5>Glaucomatic: </h5>
	<h5>Non-Glaucomatic: </h5>
	<div class="clr"></div>
	<footer id="main-footer">
		<p>Project funded by Council of Science and Technology, Uttar Pradesh Govt.</p>
	</footer>
</body>
</html>